@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body {
 
}


.home-banner {
    background-image: url("./imgs/home.jpeg");
    background-color: grey;
    height: 700px;
    margin: 0 0 40px 0;
}

.home-banner img {
   
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin: 30px 0 60px 0;
}
.descrip {
    border: 1px solid red;
}

.cuadritos {
    border: 1px solid green;
}

.circulitos {
    height: 150px;
}

.footer-piola {
    background-color: black;
    color: blanchedalmond; 
    text-align: center;
}

.footer-piola a  {
    color: white;
    text-decoration: none;

}

.footer-piola a:visited {
    color: teal;
}

.footer-piola a:hover {
    color: tomato;
    font-weight: bold;
    text-decoration: underline;
}

 .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    color: red!important;
}


.nav-link.active {
    color: #6c757d;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.main-formularios {
    margin-top: 100px;
}



@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}