@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body {
 
}


.home-banner {
    background-image: url("./imgs/home.jpeg");
    background-size: 100% 100%;
    background-color: grey;
    height: 600px;
    margin: 0 0 40px 0;
}


h1 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin: 30px 0 60px 0;
}

.marketing h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 15px;
}
.descrip {
    border: 1px solid red;
}

.cuadritos {
    border: 1px solid green;
}

.circulitos {
    height: 150px;
}

.footer-weeneemy {
    background-color: black;
    color: blanchedalmond; 
    text-align: center;
}

.footer-weeneemy a  {
    color: white;
    text-decoration: none;

}

.footer-weeneemy a:visited {
    color: teal;
}

.footer-weeneemy a:hover {
    color: tomato;
    font-weight: bold;
    text-decoration: underline;
}

 .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    color: red!important;
}


.nav-link.active {
    color: #6c757d;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.main-formularios {
    margin-top: 100px;
}

.form-newsletter{
    max-width: 400px;
    margin: auto;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.row {
    justify-content: center;
}


.foto-ropa {
    height: 320px;

}


.tipo-producto , .precio {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.precio {
color: grey;
}

.card {
    /* max-width: 300px; */
    max-height: 500px;
  justify-content: flex-start;
}

.col-md-6 {
    max-width:500px;
    margin-left: 50px;
}

.card-center {
    max-width: 350px;
  
}

h2 {
    text-align: center;
    font-size: 100px;
}